<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Styles/Style.css">
    <link rel="stylesheet" type="text/css" href="~/Styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Styles/jquery-ui.min.css">
    <link href="~/Styles/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <script src="~/scripts/jquery-ui.min.js"></script>
    <script src="~/scripts/jquery-ui-timepicker-addon.js"></script>
</head>
<body>
    <div class="scrollmenu">
        <a href="~/">Home</a>
        
        @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <a href="~/Home/CreatePost">Create Post</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="~/Home/UserDetails/@HttpContext.Current.User.Identity.Name">My Profile</a>
            <a style="right:5px" href="~/Home/Logout">Log Out</a>
        }
        else
        {
            <a href="~/Home/Posts">Posts</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a style="right:5px" href="~/Home/Login">Log In</a>
        }
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
